<div class="main-layout">

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" style="margin: 14% 33%">
      <mat-card-header>
        <mat-card-title>{{ 'login.login' | translate }}</mat-card-title>
      </mat-card-header>

      <form class="login-form">
        <mat-card-content>
          <mat-form-field class="example-full-width" [formGroup]="loginForm">
            <input matInput placeholder="{{ 'login.email' | translate }}" type="email" formControlName="email" />
            <mat-error *ngIf="errorHandling('email','required')">
              {{ 'errorMsg.required' | translate: { title: 'login.email' | translate } }}
            </mat-error>
            <mat-error *ngIf="errorHandling('email','email')">
              {{ 'errorMsg.email' | translate: { title: 'login.email' | translate } }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" [formGroup]="loginForm">
            <input matInput placeholder="{{ 'login.password' | translate }}" type="password"
              formControlName="password" />
            <mat-error *ngIf="errorHandling('password','required')">
              {{ 'errorMsg.required' | translate: { title: 'login.password' | translate } }}
            </mat-error>
            <mat-error *ngIf="errorHandling('password','minLength')">
              {{ 'errorMsg.minLength' | translate: { title: ('login.password' | translate), min: "8" } }}
            </mat-error>
          </mat-form-field>

          <div class="errorMsg">
            {{ errorMsg }}
          </div>
        </mat-card-content>


        <button mat-stroked-button color="warn" class="btn-block" (click)="login()" [disabled]="loginForm.invalid">
          <span>{{ 'login.login' | translate }}</span>
        </button>
      </form>
    </mat-card>
  </div>
</div>
