<!-- <h1 mat-dialog-title *ngIf="!data.theme">{{ data.title }}</h1> -->
<h1 mat-dialog-title [class]="data.theme">{{ data.title }}</h1>
<div mat-dialog-content>
  <div *ngIf="!data.displayArray">
    <p class='dialog-content' *ngIf="data.content">{{ data.content }}</p>
    <div class='dialog-content dialog-table' [innerHTML]="data.html"></div>
  </div>

  <div *ngIf="data.displayArray">
    <mat-list>
      <mat-list-item *ngFor="let array of data.displayArray">
        <mat-icon mat-list-icon>{{ array.icon }}</mat-icon>
        <h4 mat-line>{{ array.data }}</h4>
        <p mat-line *ngIf="array.data2">{{ array.data2 }}</p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onConfirm(false)">CANCEL</button>
  <button
    mat-raised-button
    color="warn"
    (click)="onConfirm(true)"
    *ngIf="data.btnType === 'form'"
    cdkFocusInitial
  >
    YES
  </button>
</div>
