<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/images/library-app.png" style="height: 40px" />
    <h1 class="example-app-name" fxHide fxShow.gt-xs>Library Management System</h1>
    <h1 class="example-app-name" fxHide.gt-xs>LMS</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <!-- <mat-icon>person</mat-icon> -->
      <ngx-avatars size="40" [round]="true" [src]="loginUser.downloadURL" [name]="loginUser.fullName"></ngx-avatars>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onChangeLanguage('en')">
        <span>English</span>
      </button>
      <button mat-menu-item (click)="onChangeLanguage('zh-CN')">
        <span>Simplified Chinese</span>
      </button>
      <hr style="border-top: 1px solid grey;"/>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon class="example-icon">logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [opened]="!mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="sidebar"
    >
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
        <a mat-list-item routerLink="dashboard" routerLinkActive="active-link">
          <mat-icon>dashboard</mat-icon><span class="sidebar-list">Dashboard</span>
        </a>
        <a mat-list-item routerLink="book" routerLinkActive="active-link">
          <mat-icon>book</mat-icon><span class="sidebar-list">Books</span>
        </a>
        <a mat-list-item routerLink="employee" routerLinkActive="active-link">
          <mat-icon>people_alt</mat-icon><span class="sidebar-list">Employee</span>
        </a>
        <a mat-list-item routerLink="member" routerLinkActive="active-link">
          <mat-icon>card_giftcard</mat-icon><span class="sidebar-list">Member</span>
        </a>
        <a mat-list-item routerLink="borrow" routerLinkActive="active-link">
          <mat-icon>folder_open</mat-icon><span class="sidebar-list">Borrow</span>
        </a>
        <a mat-list-item routerLink="code" routerLinkActive="active-link">
          <mat-icon>code</mat-icon><span class="sidebar-list">Code</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
