.table-container {
  max-height: 50rem;
  max-width: 100%;
  overflow: auto;
}
.mat-chip {
  font-size: 11px;
}
td.mat-column-action {
  width: 10rem;
}
.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}
.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
