<div style="margin: 1rem">
  <div style="height: 5rem">
    <mat-form-field appearance="outline" style="width: 15rem;">
      <mat-label>Filtering</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      style="float: right; margin-top: 1.2rem; width: 7rem;"
      (click)="openDialog()"
      >
      <mat-icon>add_circle</mat-icon> New
    </button>
<!--
    <button
      mat-raised-button
      style="float: right; margin: 1.2rem;"
      (click)="insertSampleBooks()">Insert Sample Employees</button> -->
  </div>

  <div class="example-container mat-elevation-z4">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
        <td mat-cell *matCellDef="let row">
          <img *ngIf="row.downloadURL !== ''" [src]="row.downloadURL"/>
          <img *ngIf="row.downloadURL === ''" [src]="row.gender === 'M' ? 'assets/images/male.png' : 'assets/images/female.png'" />
          {{ row.fullName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let row">{{ row.username }}</td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.gender === 'M' ? 'assets/images/user-male.png' : 'assets/images/user-female.png'" class="img-gender">
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>
      <ng-container matColumnDef="contactNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact No</th>
        <td mat-cell *matCellDef="let row">{{ row.contactNo }}</td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let row">{{ row.role }}</td>
      </ng-container>
      <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
        <td mat-cell *matCellDef="let row">{{ row.salary }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">
          <mat-chip-list>
            <mat-chip [color]="row.status === '9' ? 'primary' : 'warn'" selected (click)="onStatusToggle(row.id, row.status)">
              {{ row.status === '9' ? 'Activate' : 'Deactivate' }}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="text-align:center">Action</th>
        <td mat-cell *matCellDef="let row" style="text-align:center">
          <button mat-icon-button (click)="onShowAllData(row)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog(row)">Edit</button>
            <button mat-menu-item (click)="onDelete(row)">Remove</button>
            <button mat-menu-item (click)="onUpload(row)">Upload piture</button>
            <button mat-menu-item (click)="onRegister(row.email, row.password)">Registration</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
  </div>
</div>

<input type="file" id="uploader" (change)="onUploaderChange($event)" accept="image/*" hidden [multiple]="false" />
