.example-radio-group {
  display: flex;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.mb-1 {
  margin-bottom: 1.5rem;
}

.mat-mdc-dialog-actions {
  padding: 1rem;
}
