/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
}

* {
  font-family: 'Poppins';
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-slide-toggle {
  margin-left: 1rem;
}
